<div id="blog_related_posts">
  <h3 class="blog_related_posts__header blog_header--section">
    <%= t :related_posts, :scope => "blog.posts" %>
  </h3>
  <div class="blog_related_posts__list">
    <%= render partial: "spree/blog/posts/related_post",
      collection: related_posts_for_post(post), as: :related_post %>
  </div>
</div>
