/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

#blog {
    padding: 0 30px 30px;
}

.blogit_archive__list {
    padding: 0;
    list-style-type: none;
}

.blogit_archive__list--months {
    padding-left: 0.5em;
    display: none;
}

.blogit_archive__list--archiveables {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    display: none;
}

.blogit_archive__item--post {
    margin: 0.5em 0;
}

.blogit_header--page {
    font-size: 2em;
}

.row.blogit_posts_list {
    margin: 0;
}

.blogit_post {
    font-size: 1.2em;
    line-height: 2em;
}

.blogit_post__header {
    margin: 0 0 1em;
    font-size: 1.75em;
}

.blogit_post__information {
    margin: 10px 0 30px;
    padding: 10px 15px;
    background: #ededed;
    font-style: italic;
}

.blogit_post h2 {
    font-size: 1.5em;
    margin: 0 0 1em;
}

.blogit_post p,
.blogit_post ul {
    margin: 0 0 1.5em;
}

#blogit_tags,
#blogit_related_posts,
.blogit_comments_list,
#comment_form {
    clear: both;
    border-top: 1px solid silver;
    margin: 20px 0;
}

#blogit_tags .blogit_tags__list {
    margin: 0;
    padding: 0;
}

#blogit_tags .blogit_tags__list .blogit_tag {
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
}

#blogit_tags .blogit_tags__list .blogit_tag a {
    color: white;
}

#blogit_tags .blogit_tags__list .blogit_tag a:hover {
    text-decoration: none;
}

.blog_tags-li {
    display: inline;
}

.blogit_related_posts__list .blogit_related_post {
    font-size: 1.2em;
}

.blogit_comments_list {
    margin: 20px 0;
}

.blogit_comment {
    margin: 20px 0;
    padding: 15px;
    font-size: .9em;
}

.blogit_comment.odd {
    background: #ededed;
}

.blogit_comment__name {
    margin: 0 0 1em;
    font-style: italic;
}

.blogit_comment__created_at {
    font-style: italic;
}

#comment_form #blogit_comment_body {
    height: 8em;
}
